DrawioDiagrams/*.bkp
Server/node_modules

#python virtual environment and cache folders
__pycache__
venv

#ignore automation shell scripts
#(they contain just the instruction to activate the venv)
*.sh

#openplc folders to ignore
PlantObjects/Plcs/build
PlantObjects/Plcs/project_files
PlantObjects/Plcs/*.st
